
@{
    ViewBag.Title = "DeleteConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your contact has been successfully deleted.</h2>
@Html.ActionLink("Back to My Contacts", "Index", "Contacts", null, null)
